<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <packageSources>
      <clear />
      <add key="github" value="https://nuget.pkg.github.com/MauricioMatsu/index.json" />
   </packageSources>
   <packageSourceCredentials>
      <github>
         <add key="Username" value="MauricioMatsu" />
         <add key="ClearTextPassword" value="61cc317572b8255ef02a04e720765ad6f13f53c4" />
      </github>
   </packageSourceCredentials>
</configuration>